*{
    padding: 0;
    box-sizing: border-box;
}
p{
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.wrap{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}
header{
    padding-top: 30px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.profileDiv{
    padding-left: 29px;
}
.profileDiv p, .socialIcons select{
    font-size: 14px;
}
.profileDiv p:first-child{
    padding-top: 4px;
}
.socialIcons{
    float: right;
}
.filler{flex-grow:1; text-align:center}
.socialIcons select{
    border: 0px solid transparent;
}
.navbar{
    width: 100%;
    /* padding: 5px 0 !important; */
    margin-top: 27.5px;
    border-radius: 8px;
    height: 34px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.flex .bg-light{
    background: #F30000 !important;
}
.nav-link{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar-dark .navbar-nav .nav-link{
    font-size: 16px !important;
    color: #fff !important;
}
.navbar-nav li{
    padding-left: 12px;
    border-right: 1px solid #fff;
    padding-right: 12px;

}
.accountdiv{
    height: 34px;
    padding-top: 5px;
    background-color: #0061A3;
    border-radius: 8px;
    width: 178px;
}
.accountdiv .navbar-nav li{
        border-right: 0px solid #fff;
        margin: auto;
}
.banner{
    margin-top: 30px;
}
.banner img{
    width: 100%;
}
.pickdiv{
    width: 31.7%;
    margin-top: 30px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding:5px 10px;
}
.laptop{
    width: 80px;
    padding-top: 4px;
}
.picktext{
    width: 280px;
}
.picktext p:first-child{
    font-size: 16px;
}
.picktext p:first-child a{
    font-size: 14px;
}
.picktext p:last-child{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #5F5F5F;
    padding-top: 5px;
}
.upcomingDraw{
    padding-top: 75px;
}
.lotto{
    width: 38.1%;
    float: left;
    margin: 5px 24px;
}
.lotto img, .megaMillion img{
    width: 100%;
}
.megaMillion{
    width: 48%;
    float: left;
    padding-top: 9.5px;
}
.flarImg{
    width: 23px;
    float: left;
    margin-left: 18px;
}
.flarImg span{
    font-size: 14px;
}
.megaMillion p{
    float: left;
    font-size: 14px;
    padding-left: 7px;
    padding-top: 4px;
}
.amountDollar{
    font-size: 26px !important;
    color: #13902A;
}
.lottoMain{
    padding: 0 !important;
}
.playSec{
    width: 100%;
    background-color: #0061A3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.playSec button{
    background-color: #F7D300;
    width: 45%;
    border-radius: 8px;
    font-size: 18px;
    border: 0px solid transparent;
    margin: 13.40px 12.25px;
    float: left;
    padding: 4px;
}
.alarmdiv{
    width: 45%;
    padding-top: 19px;
    float: left;
    padding-left: 40px;
}
.alarmdiv span{
   color: #fff; 
}
.onlineLottery{
    padding-top: 74px;
}
.onlineLottery h5{
    font-size: 18px !important;
    text-align: center;
    background-color: #F30000;
    border-radius: 8px;
    color: #fff;
    padding: 10px;
}
.megaPaly{
    width: 17.5%;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
    display: inline-block;
}
.megaPaly .mega1{
    padding-top:12.5px;
}
.megaPaly .starImg{
    position: absolute;
    right: 18px;
    top:10px
}
.megaDiv{
    padding-top: 28px;
    
}
.megaDiv p{
    display: inline-block;
    font-size: 14px;
    padding-top: 4px;
}
.amountDollar1{
    font-size: 20px;
    font-weight:bold;
    padding-top: 8px;
}
.megaPaly  button{
    background-color: #F7D300;
    font-size: 16px;
    padding: 7px;
    width: 87.5%;
    border: 0px solid transparent;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 12px;
}
.megaDiv1 {
    padding: 8px;
}
.megaDiv1 p{
    font-size: 16px;
    display: inline-block;
    color:#0061A3;
}
.moreDetails{
    font-size: 18px;
    float: right;
    padding-top: 15px;
    margin-right: 40px;
}
.biggestLottery{
    width:64.5%;
    float: left;
}
.latestWinners{
    width: 31.7%;
    display:inline-block;
    margin-left: 15px;
}
.totalPrice, .winnerDiv{
    width: 100%;
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 5px;
}
.totalPrice p{
    font-size: 18px;
}
.totalPrice h4{
    font-size: 26px;
    color: #13902A;
    margin-bottom: 0;
}
.totalPrice span{
    font-size: 26px;
}
.winnerDiv{
    height: 85px;
    margin-top: 35px;
    padding:10px;
}
.winnerDiv div{
    float: left;
}
.winnerDiv p{
    font-size: 14px;
}